In [1]:
n=4
for i in range(0,n):
    for j in range(0,i+1):
        print("ineuron ",end="")
    print("\r")

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

In [8]:
rows = 2
k = 2 * rows - 2
for i in range(0, rows):
    for j in range(0, k):
        print(end=" ")
    k = k - 1
    for j in range(0, i + 1):
        print("ineuron ", end="")
    print("")
    
k = rows - 2

for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("ineuron ", end="")
    print("")

  ineuron
 ineuron ineuron
ineuron ineuron ineuron
 ineuron ineuron
  ineuron

In [10]:
l=[[1,2,3,4],[2,3,4,5,6],(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':"sudh",'k2':"ineuron",'k3':"kumar",3:6,7:8},['ineuron','data science']]

In [12]:
# Try to extract all the list entity
for i in l :
    if type(i) == list :
        print(i)

[1, 2, 3, 4]
[2, 3, 4, 5, 6]
['ineuron', 'data science']

In [15]:
#Try to extract all the dict entity
for i in l:
    if type(i)== dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [16]:
#Try to extract all the tuple entity
for i in l:
    if type(i) == tuple:
        print(i)

(3, 4, 5, 6, 7)

In [46]:
#Try to extract all the numerical data, It may be a part of dict key and value.
for i in l:
    if type(i)==list:
        for j in i:
            if type(j)==int:
                print(j)
    if type(i)==tuple:
        for j in i:
            if type(j)==int:
                print(j)
    if type(i)== set:
        for j in i:
            if type(j)==int:
                print(j)
        
    if type(i)==dict:
         for j in i:
            if type(j)==int or type(i[j])==int:
                print(j,":",i[j])

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
3 : 6
7 : 8

In [49]:
#Give a try to make summation of all the numerical data
sum=0
for i in l:
    if type(i)==list:
        for j in i:
            if type(j)==int:
               # print(j)
                sum=sum+j
    if type(i)==tuple:
        for j in i:
            if type(j)==int:
               # print(j)
                sum=sum+j
    if type(i)== set:
        for j in i:
            if type(j)==int:
                #print(j)
                sum=sum+j
        
    if type(i)==dict:
         for j in i:
            if type(j)==int or type(i[j])==int:
               # print(j,":",i[j])
                sum=sum+j+i[j]
print("Summation of all the Data : ",sum)

Summation of all the Data :  156

In [58]:
#Try to filter out all teh odd values out of all numeric data which is a part of list
for i in l:
    if type(i)==list:
        for j in i:
            if type(j)==int and (j % 2) != 0:
                print(j)
    if type(i)==tuple:
        for j in i:
            if type(j)==int and (j%2)!=0:
                print(j)
                
    if type(i)== set:
        for j in i:
            if type(j)==int and (j%2)!=0:
                 print(j)
               
        
    if type(i)==dict:
         for j in i:
            if type(j)==int or type(i[j])==int:
                if (j%2)!= 0:
                        print(j)
                if(i[j]%2)!=0:
                    print(j)

1
3
3
5
3
5
7
45
5
23
3
7

In [62]:
#Try to extract "ineuron" out of data
for i in l:
    if type(i)==dict:
        for j in i:
            if i[j]=='ineuron':
                print(j,":",i[j])
    else :
        for j in i:
            if j=='ineuron':
                print(j)

k2 : ineuron
ineuron

In [63]:
# Try to find out a number of occurances of all the data 
for i in l:
    for j in set(i):

1
1
1
1
1
1
1
1
1
1
1
1
1
1

AttributeError: 'set' object has no attribute 'count'

In [64]:
# Try to find out number of keys in dict element
for i in l:
    if type(i)==dict:
         print(len(i.keys()))

5

In [67]:
# Try to filter out all the string data
for i in l:
    for j in i:
        if type(j)==str:
            print(j)

k1
k2
k3
ineuron
data science

In [75]:
# Try to Find  out alphanum in data
for i in l:
    for j in i:
        if str(j).isalpha()==True:
            print(j)

ineuron

In [90]:
# Try to find out multiplication of all numeric value in  the individual collection inside dataset
mul=1
for i in l:
    for j in i:
        if type(j)==int:
            mul=mul*j
    print(l.index(i),":",mul)

0 : 24
1 : 17280
2 : 43545600
3 : 901393920000
4 : 18929272320000
5 : 18929272320000

In [112]:
# Try to unwrape all the collection inside collection and create a flat list 
l=[[1,2,3,4],[2,3,4,5,6],(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':"sudh",'k2':"ineuron",'k3':"kumar",3:6,7:8},['ineuron','data science']]
l1=[]
for i in l:
    if type(i)==list:
        l1.append(i)
    if type(i)==set:
        l1.append(list(i))
    if type(i)==dict:
        l1.append(i.items())
    if type(i)==tuple:
        l1.append(list(i))
print(l1)

[[1, 2, 3, 4], [2, 3, 4, 5, 6], [3, 4, 5, 6, 7], [45, 4, 5, 23], dict_items([('k1', 'sudh'), ('k2', 'ineuron'), ('k3', 'kumar'), (3, 6), (7, 8)]), ['ineuron', 'data science']]

[3, 4, 5, 6, 7]

[('k1', 'sudh'), ('k2', 'ineuron'), ('k3', 'kumar'), (3, 6), (7, 8)]